.DS_Store
front/node_modules
front/dist


# local env files
front/.env.local
front/.env.*.local

# Log files
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/pnpm-debug.log*

# Editor directories and files
front/.idea
front/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

backend/.mvn
backend/target
backend/.settings
backend/.classpath
backend/.project